<style type="text/css">
/**/
#opcoes {  display: block;}
#opcoes a {border-bottom:1px solid #003366;  display: block; padding:2px; color:#000066; text-decoration:none; font-family:Arial, Helvetica, sans-serif; font-size:10px;}
#opcoes a:hover { color:#FF9900;}
img
{
	border-width:0px;
	border-style:none;
}
#divSideboxContainer
{
	position:relative;
	width:150px;
	top:0px;
	left:0px;
	background-color:white;
	border-width:1px;
	border-style:solid;
	z-index:40;
}
.divSideboxHeader 
{
	text-align:center;
	background-color:#000066;
	padding:4px;
		color: #FFFFFF;

}
a.divSideboxEntry, .divSideboxEntry
{
	text-align:left;
	height:16px;
	background-color:#ffffff;
}
.sideboxSpace
{
	height:9px;
}
a.textSidebox
{
	font-size: 10px; 
	border-top: #aaaaaa 0px none;
}

.textSidebox
{
	font-size: 10px; 
	height:18px;
	padding-top:2px;
	padding-bottom:2px;
	border-top: #aaaaaa 1px solid;

}
</style>
