<{$adminmenu}>
<br />
<div style="float:left; width:100%;">
<{if $noavailsong != true}>

<!-- Start: move genre content//-->
<table align="center" width="100%">
<tr>
<td>
<{$movesongs}>
</td>
</tr>
</table>
<!-- End: move genre content //--> 

<table width="100%" class="outer" cellspacing="5" cellpadding="5" align="center">  
  <{section name=i loop=$filelist}>
<tr>
<td class="odd" width="70" align="center"><{$smarty.const._AM_DEBASER_ID}> <{$filelist[i].id}></td>
<td class="even"><{$filelist[i].artist}> - <{$filelist[i].title}></td>
<td class="odd" align="center" width="40">
<a href="javascript:openWithSelfMain('<{$xoops_url}>/modules/debaser/player.php?id=<{$filelist[i].id}>','player',10,10)"><img src="../images/play.gif" alt="<{$smarty.const._AM_DEBASER_PLAY}>" title="<{$smarty.const._AM_DEBASER_PLAY}>" /></a></td>
<td class="even" align="center" width="40">
<a href="index.php?op=editmpegs&amp;mpegid=<{$filelist[i].id}>"><img src="../images/edit.gif" alt="<{$smarty.const._EDIT}>" title="<{$smarty.const._EDIT}>" /></a></td>
<td class="odd" align="center" width="40">
<a href="index.php?op=deletesong&amp;mpegid=<{$filelist[i].id}>&amp;delfile=<{$filelist[i].filename}>"><img src="../images/delete.gif" alt="<{$smarty.const._DELETE}>" title="<{$smarty.const._DELETE}>" /></a></td>
</tr> 
  <{/section}>
</table>
<{else}>
<table width="100%" class="outer" cellspacing="5" cellpadding="5" align="center">
<tr>
<td align="center" valign="middle"><{$smarty.const._AM_DEBASER_NOSONGAVAIL}> - <a href="index.php"><{$smarty.const._BACK}></a></td>
</tr>
</table>
<{/if}>
</div>