<div><a href="index.php"><{$smarty.const._MD_DEBASER_INDEX}></a> - <a href="genre.php?genreid=<{$genreid}>"><{$smarty.const._MD_DEBASER_GENRE}> <{$genre}></a></div><br />

<script type="text/javascript">
	function openDownload(url) {
		document.download.url.value = url;
		document.download.submit();
    }
</script>
<form name="download" id="download" action="<{$xoops_url}>/modules/debaser/download.php" method="post">
	<input type="hidden" name="url" value="">
</form>

<div style="text-align:right;"><{$category.navbar}></div>
<table width="100%" cellpadding="5" cellspacing="1" class="outer">
<tr>
<td colspan="2" class="itemHead">
<div style="float:left;">
<strong><{$artist}> - <{$title}></strong> (<{$smarty.const._MD_DEBASER_ADDED}> <{$added}>)
</div>
<div style="float:right;">
<{if $ratesong.rating == '0.000'}>
<{$ratesong.rating}>
<{elseif $ratesong.rating != '0.000'}>
<{$ratesong.rating}> | <{$ratesong.votes}>
<{/if}>
</div>
</td>
</tr>
<tr>
<td class="odd" valign="top" width="100%">
<strong><{$smarty.const._MD_DEBASER_COMMENT}></strong><br />
<{$addinfo}>
</td>
<td class="odd">
<table width="100%" class="outer" cellpadding="0" cellspacing="0">
<tr>
<td class="odd" valign="top" width="50%">
<small>
<{if $album > '0' || $album != ''}>
<strong><{$smarty.const._MD_DEBASER_TAMANHO}></strong> <{$album}><br />
<{/if}>
<{if $length > '0' || $length != ''}>
<strong><{$smarty.const._MD_DEBASER_LENGTH}></strong> <{$length}> <{$smarty.const._MD_DEBASER_SECONDS}><br />
<{/if}>
</small>
</td>
</tr>
</table>
</td>
</tr>
<tr>
<td class="even" colspan="2">
<div align="left" style="float:left;">
<a href="javascript:openWithSelfMain('<{$xoops_url}>/modules/debaser/player.php?id=<{$id}>','player',500,420)"><img src="<{$xoops_url}>/modules/debaser/images/play.gif" title="<{$smarty.const._MD_DEBASER_PLAY}>" alt="<{$smarty.const._MD_DEBASER_PLAY}>" align="middle" /></a>
</div>
<div align="right">
<img src="<{$xoops_url}>/modules/debaser/images/views.gif" title="<{$smarty.const._MD_DEBASER_VIEWS}>" alt="<{$smarty.const._MD_DEBASER_VIEWS}>" align="middle" />&nbsp;<strong><{$views}></strong><{if $allowyes == true}>&nbsp;<{if $link != ''}>
<a href="javascript:openDownload('<{$link}>?<{$id}>');"><{else}><a href="javascript:openWithSelfMain('<{$xoops_url}>/modules/debaser/getfile.php?id=<{$id}>','Baixar',500,420)"><{/if}><img src="<{$xoops_url}>/modules/debaser/images/hits.gif" title="<{$smarty.const._MD_DEBASER_HITS}>" alt="<{$smarty.const._MD_DEBASER_HITS}>" align="middle" /></a>&nbsp;<strong><{$hits}></strong><{/if}>
	<{if $isxadmin == true}>
&nbsp;<a href="<{$xoops_url}>/modules/debaser/admin/index.php?op=editmpegs&amp;mpegid=<{$id}>"><img src="<{$xoops_url}>/modules/debaser/images/edit.gif" title="<{$smarty.const._MD_DEBASER_EDIT}>" alt="<{$smarty.const._MD_DEBASER_EDIT}>" align="middle" /></a>&nbsp;
<a href="<{$xoops_url}>/modules/debaser/admin/index.php?op=deletesong&amp;mpegid=<{$id}>&amp;delfile=<{$filename}>"><img src="<{$xoops_url}>/modules/debaser/images/delete.gif" title="<{$smarty.const._DELETE}>" alt="<{$smarty.const._DELETE}>" align="middle" /></a>
	<{/if}>
	</div>
</td>
</tr>
</table>
<{if $guestvote == true}>
<form method="post" action="ratefile.php">
  <input type="hidden" name="lid" value="<{$id}>" />
  <table width="100%" cellspacing="1" cellpadding="1" class="outer" style="margin-top:1px;">
    <tr>
      <td align="center" class="odd">
	  	[&nbsp;1<input type="radio" name="rating" value="1" checked />&nbsp;]
		[&nbsp;2<input type="radio" name="rating" value="2" />&nbsp;]
      	[&nbsp;3<input type="radio" name="rating" value="3" />&nbsp;]
      	[&nbsp;4<input type="radio" name="rating" value="4" />&nbsp;]
      	[&nbsp;5<input type="radio" name="rating" value="5" />&nbsp;]
      	[&nbsp;6<input type="radio" name="rating" value="6" />&nbsp;]
      	[&nbsp;7<input type="radio" name="rating" value="7" />&nbsp;]
      	[&nbsp;8<input type="radio" name="rating" value="8" />&nbsp;]
      	[&nbsp;9<input type="radio" name="rating" value="9" />&nbsp;]
      	[&nbsp;10<input type="radio" name="rating" value="10" />&nbsp;]
      </td>
    </tr>
  </table>

  <div align="center"> <br />
    <input type="submit" name="submit" value="<{$smarty.const._MD_DEBASER_RATETHIS}>" />
  </div>
</form>
<{/if}>
<br />
<div style="text-align:center; padding: 3px; margin:3px;">
  <{$commentsnav}>
  <{$lang_notice}>
</div>

<div style="margin:3px; padding: 3px;">
<!-- start comments loop -->
<{if $comment_mode == "flat"}>
  <{include file="db:system_comments_flat.html"}>
<{elseif $comment_mode == "thread"}>
  <{include file="db:system_comments_thread.html"}>
<{elseif $comment_mode == "nest"}>
  <{include file="db:system_comments_nest.html"}>
<{/if}>
<!-- end comments loop -->
</div>
<{if $xoops_notification.show}>
<{include file='db:system_notification_select.html'}>
<{/if}>