<{$adminmenu}>
<br />
<div style="float:left; width:100%;">
<table class="outer" align="center" width="100%" cellspacing="5" cellpadding="5">
     	<{foreach item=player from=$player }>		  
<tr><td class="even"><{$player}></td>
<td class="odd" width="40" align="center"><a href="index.php?op=editplayer&amp;playertype=<{$player}>"><img src="../images/edit.gif" alt="<{$smarty.const._EDIT}>" title="<{$smarty.const._EDIT}>" /></a></td>
<td class="even" width="40" align="center"><a href="index.php?op=deleteplayer&amp;playertype=<{$player}>"><img src="../images/delete.gif" alt="<{$smarty.const._DELETE}>" title="<{$smarty.const._DELETE}>" /></a></td></tr>
<{/foreach}>	
</table>
<br />
<table align="center" width="100%">
<tr>
<td><{$newplayer}></td>
</td>
</tr>
</table></div>